Renaming_Script/*
Renaming_Script/Renaming_Script/*

Space-Engineers/.vs 
.vs/

!Renaming_Script/Renaming_Script
!Renaming_Script/Renaming_Script/Program.cs
!Renaming_Script/Renaming_Script/Custom Data.txt
